/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.root {
	-fx-background-image: url(images/abstract-design-pattern-wallpaper-cool-monitor-smart-phone-1920x1200.jpg) ;
}

 
.button {
	 -fx-background-color: 
        #000000,
        linear-gradient(#7ebcea, #2f4b8f),
        linear-gradient(#426ab7, #263e75),
        linear-gradient(#395cab, #223768);
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 3,2,2,2;
    -fx-padding: 12 30 12 30;
    -fx-text-fill: white;
}

.button:hover {
	 -fx-background-color: 
        #000000,
        linear-gradient(#7ebcea, #050604),
        linear-gradient(#426ab7, #050604),
        linear-gradient(#395cab, #050604);
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 3,2,2,2;
    -fx-padding: 12 30 12 30;
    -fx-text-fill: white;
}

#userLabel,#comLabel,#userChoiceLabel,#comChoiceLabel {
	-fx-text-fill: white;
	 -fx-background-color: 
        #000000,
        linear-gradient(#7ebcea, #2f4b8f),
        linear-gradient(#426ab7, #263e75),
        linear-gradient(#395cab, #223768);
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 3,2,2,2;
}
 .label{
 	-fx-text-fill: white;
 }